/*===============================
	1. Google Fonts
===============================*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
@import url('https://fonts.googleapis.com/css?family=Abel');




/*--- 1. Default css starts ---*/

html,body{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.7;
    color: #333333;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #333333;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

p {
    letter-spacing: 0;
    line-height:1.8;
}

a{
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:focus{
    outline:none;
    text-decoration: none;
}

a:hover{
    outline:none;
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding: 60px 0;
}

.section-title {
    text-align: center;
    padding-bottom: 60px;
}
.section-title h2 span{
    color: #00B0DC;
}
.section-title h2 {
    font-size: 40px;
    color: #262626;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}


/*--- Default css ends---*/

/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #00B0DC;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}


/*---------- preloader css ends -------------*/

/*--- 3. Mouse animation starts---*/

@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.mouse-scroll {
    position: absolute;
    left: 48%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 2px;
    margin-top: 5%;
    text-decoration: none;
    overflow: hidden;
}

.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 60px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
}

/*---mouse animation ends---*/

/*----------- 5. Banner area css starts--------------*/


.banner-area{
    background-image: url(../images/2.jpg); /*--edit image--*/
    background-position: center;
    background-size:cover;
    position: relative;
    height: 100%;
}

.banner-area::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    content: '';
}

.img-area {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    display: inline-block;
}

.banner-area b{
    font-weight: 100;
}

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner-table{
    display: table;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.banner-table-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.welcome-text .intro h2 {
    color: #fff;
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 10px;
}



.intro h1 {
    color: #fafafa;
    font-size: 18px;
    font-weight: 100;
    margin: 0;
}

.social-icon {
    text-align: center;
    padding-top: 20px;
}

.social-icon ul {
    margin: 0;
}

.social-icon ul li {
    display: inline;
    padding: 0;
    margin: 0 5px;
}

.social-icon ul li a {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    color: #fff;
}

.social-icon ul li a:hover {
    background: #00b0dc;
}

.ah-headline.clip .ah-words-wrapper::after {
    background-color: #fff;
}

.banner-btn {
    background: transparent;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    margin-top: 25px;
    color: #fff;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 25px;
    border: 2px solid #fafafa;
    font-weight: bold;
}
.banner-btn:hover, .banner-btn:focus {
    text-decoration: none;
    color: #333;
    background: #fafafa;
    border-color: #fafafa;
}

.welcome-text h3 {
    color: #fff;
    font-size: 45px;
}

/*---------Banner area css ends--------------*/
#headline {
    margin-top:10%;
}


/*-------- 7. Card area starts ----------*/
.card {
  width: 450px;
  height: 250px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  font-family: Abel, Arial, Verdana, sans-serif;
}

.card h1 {
  text-align: center;
}

.card .additional {
  position: absolute;
  width: 150px;
  height: 100%;
  background: linear-gradient(#339d83, #2b826d);
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card.green .additional {
  background: linear-gradient(#057078, #055f66);
}

.card.orange .additional {
  background: linear-gradient(#e34821,#e85733);
}
.card.dark .additional {
  background: linear-gradient(#636667,#777b7c);
}
.card.blue .additional {
  background: linear-gradient(#6c4a81,#533a63);
}


.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card {
  width: 150px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0,0,0,0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .level{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card .additional .user-card .points {
    top: 85%;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  /*color: #224C36;*/
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}
.card .additional .coords a{
  color: #ffffff;
  text-decoration: underline;
}

.card.green .additional .coords {
  /*color: #325C46;*/
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  /*color: #325C46;*/
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
.img-thumbnail{
    width:110px;
    height:110px;
    margin-top: 50%;
}

.card .additional .stats div.value.textrank {
    line-height: 0.9rem;
    font-size: 15px;
}


